/ElevatorArrivalSensorEvent.class
/ElevatorButtonPressedEvent.class
/ElevatorClosedDoorEvent.class
/ElevatorOpenedDoorEvent.class
/ElevatorStoppedEvent.class
/ElevatorPressedButtonEvent.class
/FloorPressButtonEvent.class
/RequestForElevatorMessageEvent.class
/RequestForFloorMessageEvent.class
