/ChangeLampStateEvent.class
/CloseDoorsEvent.class
/KeepMovingEvent.class
/OpenDoorsEvent.class
/StartMovingEvent.class
/StopMovingEvent.class
/ElevatorCloseDoorEvent.class
/ElevatorDirectionLampEvent.class
/ElevatorKeepMovingEvent.class
/ElevatorOpenDoorEvent.class
/ElevatorPressButtonEvent.class
/ElevatorStartMovingEvent.class
/ElevatorStopMovingEvent.class
